header {
    width: 100%;
    background: #556B2F;
    padding: 5px 10px;
    position: sticky;
    border-bottom: 1px solid #ddd;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
    padding-left: 50px; 
}

.logo {
    width: 150px;
    height: auto;
    order: 0; 
    margin-right: 10px; 
}


.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:2px 0;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #3C4F2F;
    color: #FAF3E0;
}

footer {
    background: #556B2F;
    color: #FAF3E0;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

footer a {
    color: #FAF3E0;
    text-decoration: underline;
}